.hero {
    position: relative;
    text-align: center;
    padding-top: 80px;
    overflow: hidden;
    min-height: 80vh;
/*    background-image: url("./assets/images/top-image-house-solar.jpg");*/
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 230px;
        width: 80%;
        //background: mix(color(primary, 1), color(primary, 2));
        //background: linear-gradient(to top right, color(primary, 1) 0, color(primary, 2) 100%);
    }
    .img-container{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        //background-image: url("/images/top-image-house-solar.jpg");
        //background-size: cover;
        &__img{
            object-fit: cover;
        }
        img{
            min-height: 100%;
            min-width: 100%;
            height: 100%;
/*            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);*/
        }
    }
    .hero-cta{
        a{
            color: #1c2025;
        }
    }
}

.button-cta{
    background: #d8ff55;
    background: linear-gradient(65deg, #EFFF00 0, #C0FFAA 100%);
    color: #1c2025 !important;
    border: 1px solid #50ff51;
    &:hover{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
}

.hero-inner {
    position: relative; /* To display all elements above the background color */
}

.hero-title {
    @include font-weight(bold);
    font-size: 2.2em;
    padding: 20px 0;
    color: #000000;
    mix-blend-mode: soft-light;
}

.hero-paragraph {
    margin-bottom: 32px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    @include font-family(base-sans);
}

.hero-illustration {
    margin-top: 40px;
    padding-bottom: 40px;
	img,
    svg {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin: 0 auto;
        overflow: visible;
    }
}

@include media( '>medium' ) {

    .hero {
        text-align: left;
        padding-top: 110px;
        padding-bottom: 80px;

        &::before {
            left: 620px;
            height: 800px;
            width: 100%;
        }
        .img{
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            min-height: 20vh;
        }
        .img-container{
            background-repeat: no-repeat;
        }
        .hero-title {
            @include font-weight(bold);
            font-size: 2.8em;
        }

    }

    .hero-inner {
        /* Split hero in two half */
        display: flex;
    }

    .hero-copy {
        padding-right: 48px;
        min-width: 512px;
        max-width: 50%;
    }

    .hero-illustration {
        margin-top: -68px;
        padding-bottom: 0;

		img,
        svg {
            max-width: none;
            width: 528px;
        }
    }
}

@include media( '>large' ) {
    .hero {

        &::before {
            left: auto;
            width: 43%;
        }
        .img-container{
            background-position: 0px -100px;
            background-repeat: no-repeat;
        }
    }

    .hero-copy {
        padding-right: 88px;
        min-width: 552px;
    }
}
